.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.WhiteBoard{

}

.WhiteBoard .BasicNodeOutside{

}

.WhiteBoard .BasicNodeOutside .LabelNode{
    background-color: #F0F0F0;
    padding: 10px;
}

.WhiteBoard .OutputConnectionNode{
    /*color:rgb(0, 188, 212);*/
}

.WhiteBoard .InputConnectionNode{
    /*color: rgb(255, 87, 34);*/
}

.WhiteBoard .DirectoryNode{
    border: 1px solid #F0F0F0;
    padding: 10px;
}

.WhiteBoard .DirectoryNode .EachRow{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
}

.WhiteBoard .DirectoryNode .EachRowSelected{
    background-color: aliceblue;
}

.WhiteBoard .CodeNode{
    min-width: 100px;
    min-height: 100px;
}

.WhiteBoard .TodoListNode{

}

.WhiteBoard .TodoListNode .EachRow{
    padding-top: 5px;
}