.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.WhiteBoard {}

.WhiteBoard .react-flow__edge .react-flow__edge-text {
    font-size: 14px;
    font-weight: bolder;
}

.WhiteBoard .InputLikeTitle {
    border: none !important;
    width: 100%;
}

.WhiteBoard .Menu {
    background-color: #F0F0F0;
    width: 280px;
}

.WhiteBoard .Menu .Header {
    font-size: 14px;
    border-bottom: 1px solid black;
}

.WhiteBoard .Menu .Item {
    line-height: 20px;
}

.WhiteBoard .Menu .Item::before {
    content: " ";
    width: 3px;
    height: 3px;
    background-color: #2196f3;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
}

.WhiteBoard .BasicNodeOutside {}

.PO .EditSheetNode {
    width: 100vw;
    height: 100vh;
}

.WhiteBoard .SheetNode {}

.WhiteBoard .TitleNode {
    background-color: #303030;
}

.WhiteBoard .TitleNode .Input {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.WhiteBoard .TableNode {
    border: 2px solid gainsboro;
    padding: 5px;
    background-color: cornsilk;
}

.WhiteBoard .Option {
    min-width: 100px;
}

.WhiteBoard .TableNode .Selected {
    background-color: #f9a825;
}

.WhiteBoard .TableNode .TitlePart {
    padding-bottom: 5px;
}

.WhiteBoard .TableNode .TablePart {
    border-top: 2px solid gainsboro;
}

.WhiteBoard .FullCalendarNode {
    min-height: 300px;
    min-width: 400px;
    background-color: #F0F0F0;
}

.WhiteBoard .TitleNode .Content {
    padding-left: 8px;
    padding-right: 8px;
}

.WhiteBoard .HistoryNode {
    padding: 10px;
    background-color: #c3f0b7;
    border-radius: 6px;
}

.WhiteBoard .DrawNode {}

.WhiteBoard .DrawNode .Content {
    padding-left: 8px;
}

.WhiteBoard .MarkdownNode {
    border: 3px solid #F0F0F0;
}

.WhiteBoard .MarkdownNode .Title {
    background-color: #303030;
    text-align: center;
    color: white;
}

.WhiteBoard .LabelNode {
    padding: 5px;
    background-color: yellowgreen;
    border-radius: 6px;
}

.WhiteBoard .ImageNode {
    padding: 10px;
    background-color: #b4dbf0;
}

.WhiteBoard .CalendarNode {
    background-color: aliceblue;
    padding: 10px;
}

.WhiteBoard .CalendarNode .Timeline {
    padding: 10px;
}

.WhiteBoard .CalendarNode .Calendar {
    width: 1500px;
}

.WhiteBoard .WhiteBoardNode {}

.WhiteBoard .WhiteBoardNode .Content {
    padding-left: 8px;
}

/**
 * Connection 相关的 CSS
 */
.WhiteBoard .ConnectionNode {
    width: 20px;
    height: 20px;
    background-color: #F0F0F0;
    border-radius: 50%;
}

.WhiteBoard .ConnectionNode .Content {}

.WhiteBoard .react-flow__handle.connectionindicator {
    width: 8px;
    height: 8px;
}


.WhiteBoard .OutputConnectionNode {}

.WhiteBoard .SourceConnection {
    background-color: #ef5350;
}

.WhiteBoard .InputConnectionNode {}

.WhiteBoard .TargetConnection {
    background-color: #43a047;
}

.WhiteBoard .DirectoryNode {
    border: 1px solid #F0F0F0;
    padding: 10px;
}

.WhiteBoard .DirectoryNode .EachRow {
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
}

.WhiteBoard .DirectoryNode .EachRowSelected {
    background-color: aliceblue;
}

.WhiteBoard .CodeNode {
    min-width: 100px;
    min-height: 100px;
}

.WhiteBoard .TodoListNode {
    border: 3px solid antiquewhite;
    background-color: antiquewhite;
    min-width: 150px;
}

.WhiteBoard .TodoListNode .Content {
    padding: 8px;
}

.WhiteBoard .TodoListNode .EachRow {
    padding-top: 5px;
    width: 100%;
}