.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.WhiteBoard{

}

.WhiteBoard .Menu{

}

.WhiteBoard .Menu .Header{
    font-size: 14px;
    border-bottom: 1px solid black;
}

.WhiteBoard .Menu .Item{
    line-height: 20px;
}

.WhiteBoard .Menu .Item::before{
    content: " ";
    width: 3px;
    height: 3px;
    background-color: #2196f3;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
}

.WhiteBoard .BasicNodeOutside{

}

.WhiteBoard .TitleNode{

}

.WhiteBoard .TitleNode .Content{
    padding-left: 8px;
    padding-right: 8px;
}

.WhiteBoard .DrawNode{

}

.WhiteBoard .DrawNode .Content{
    padding-left: 8px;
}

.WhiteBoard .MarkdownNode{

}

.WhiteBoard .MarkdownNode .Content{
    padding-left: 8px;
}

.WhiteBoard .BasicNodeOutside .LabelNode{
    padding: 5px;
}

.WhiteBoard .WhiteBoardNode{

}

.WhiteBoard .WhiteBoardNode .Content{
    padding-left: 8px;
}

.WhiteBoard .OutputConnectionNode{
    /*color:rgb(0, 188, 212);*/
}

.WhiteBoard .InputConnectionNode{
    /*color: rgb(255, 87, 34);*/
}

.WhiteBoard .DirectoryNode{
    border: 1px solid #F0F0F0;
    padding: 10px;
}

.WhiteBoard .DirectoryNode .EachRow{
    border-bottom: 1px solid #F0F0F0;
    padding: 5px;
}

.WhiteBoard .DirectoryNode .EachRowSelected{
    background-color: aliceblue;
}

.WhiteBoard .CodeNode{
    min-width: 100px;
    min-height: 100px;
}

.WhiteBoard .TodoListNode{
    border: 3px solid antiquewhite;
    background-color: antiquewhite;
}

.WhiteBoard .TodoListNode .Content{
    padding: 8px;
}

.WhiteBoard .TodoListNode .EachRow{
    padding-top: 5px;
}